/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

main {
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #4b5563b4;
  border-radius: 10px;
}
